<div [formGroup]="mainForm2">
  <div class="tab-containers">
    <h2>Lazy Loading monaco without boolean checking status</h2>
    <h4>
      <strong>Dirty : </strong
      ><small [ngStyle]="{ color: isFormDirty() ? 'red' : 'green' }">{{
        isFormDirty()
      }}</small>
    </h4>
    <ngx-monaco-editor
      formControlName="monaco"
      [options]="options"
    ></ngx-monaco-editor>
    {{ mainForm2.value | json }}
    <span
      ><button
        mat-raised-button
        color="primary"
        [disabled]="!isFormDirty()"
        (click)="submit()"
      >
        Submit
      </button></span
    >
  </div>
</div>
